
  <h1>Stupid coaching</h1>
  <h3>Ask your coach anything!</h3>

  <form action="answer" method="get">
    <input type="text" name="questions">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
